﻿body {
	background: url('images/background.png');
	background-position: -3px -3px;
}

#contentcontainer {
	height: 220px;
	overflow: auto;
}

.box {
	margin: 0 auto;
	position: relative;
	width: 500px;
	padding: 4px;
	background: url('images/background_box.png') transparent;
}

.box .ground {
	background: #675B3F;
	padding: 4px;
}
.box .ground .title {
	font-family: arial, sans-serif;
	font-size: 15pt;
	text-align: center;
	color: #d9d05f;
	margin-bottom: 8px;
}
.box .ground .content {
	margin: 0 3px 3px 3px;
	font-family: Arial, Helvetica, Trebuchet;
	font-size: 13pt;
	width: 100%;
	color: white;
}